<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>招商到家汇</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>cmp_customer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxff9c77e320ec1108</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106154627</string>
				<string>QQ41EE9483</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>yilianmengpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eshore.qr.chinaums.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cmparkpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eshore.app.park.cmskcrm.com</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cmparktestpay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eshore.app.park.ylmo2o.com</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>alipay</string>
		<string>alipays</string>
		<string>wechat</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>timapi</string>
		<string>mqqopensdkminiapp</string>
		<string>iosamap</string>
		<string>qqmap</string>
		<string>baidumap</string>
		<string>cmbmobilebank</string>
		<string>itms-apps</string>
		<string>itms-appss</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>2bad56b71fdf8</string>
	<key>MOBAppSecret</key>
	<string>ea5e0556c1dd697b06098c4b82442be1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>lopetech.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>App需要您的同意,在上传业务相关文档时访问媒体资料库权限</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App需要您的同意,在使用蓝牙输入功能中访问蓝牙权限</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要您的同意,在使用蓝牙输入功能中访问蓝牙权限</string>
	<key>NSCalendarsUsageDescription</key>
	<string>App需要您的同意，在选择日期功能中访问日历权限</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要您的同意，才能访问相机进行拍照，如禁止将无法拍照更新信息</string>
	<key>NSContactsUsageDescription</key>
	<string>App需要您的同意，在选择联系人中访问通讯录权限</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>APP需要您的同意，才能始终访问位置获取当前所在城市</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要您的同意,才能始终访问位置获取当前所在城市</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要您的同意,才能在使用期间访问位置获取当前所在城市</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要您的同意，在语音便捷报单功能中访问麦克风权限</string>
	<key>NSMotionUsageDescription</key>
	<string>App需要您的同意,才能访问运动与健身</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要您的同意,在上传业务相关图片时访问保存相册权限</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要您的同意,在上传业务相关图片时访问读取相册权限</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>App需要您的同意，在语音便捷报单功能中访问录音权限</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
</dict>
</plist>
